---
import Navbar from '../components/Navbar.astro';
import { useTranslations } from '../i18n/utils';
import type { Locale } from '../i18n/utils';
import '../styles/variables.css';
import '../styles/animations.css';
import '../styles/utilities.css';

interface Props {
  title: string;
  lang: Locale;
}

const { title, lang } = Astro.props;
const t = useTranslations(lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar t={t} lang={lang} />
    <slot />
  </body>
</html>
